.hire {
  width: 204px;
  height: 62px;
  display: inline-flex;
  align-items: center;
  justify-content: end;
  border: none;
  outline: none;
  background: var(--blue);
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  padding: 12px;
  border-radius: 8px;
  font-family: var(--hanken);
  margin-right: 15px;
  span {
    width: 40px;
    height: 40px;
    background: var(--white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-left: 20px;
  }
}
.call_us {
  width: 204px;
  height: 62px;
  display: inline-flex;
  align-items: center;
  justify-content: end;
  border: 2px solid var(--blue);
  outline: none;
  background: var(--white);
  color: var(--black);
  font-size: 18px;
  font-weight: 600;
  padding: 12px;
  border-radius: 8px;
  font-family: var(--hanken);
  margin-right: 15px;
  span {
    width: 40px;
    height: 40px;
    background: var(--blue);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-left: 20px;
  }
}

.support {
  width: 170px;
  height: 63px;
  background: var(--blue);
  padding: 10px;
}
/*********************/
.common_btn {
  // width: 170px;
  // height: 63px;
  display: inline-flex;
  // background: var(--blue);
  // padding: 10px;
  border-radius: 8px;
}

.common_btn_wrap {
  overflow: hidden;
  height: 100%;
}

.btn_with_icon {
  display: inline-flex;
  align-items: center;
  transition: 0.3s;
  transform: translateX(-40px);
  height: 100%;
}

.common_btn:hover {
  .btn_with_icon {
    transform: translateX(10px);
  }
}

.left {
  width: 40px;
  height: 40px;
  background: var(--white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: 0.4s;
  transform: scale(0);
  visibility: hidden;
  opacity: 0;
}
.common_btn:hover .left {
  transform: scale(1);
  visibility: visible;
  opacity: 1;
}

.right {
  width: 40px;
  height: 40px;
  background: var(--white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: 0.4s;
  transform: scale(1);
  visibility: visible;
  opacity: 1;
}
.common_btn:hover .right {
  transform: scale(0);
  visibility: hidden;
  opacity: 0;
}

.text_change {
  width: 108px;
  height: 38px;
  overflow: hidden;
}
.btn_text {
  transform: translateY(6px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.common_btn:hover .btn_text {
  transform: translateY(-27px);
}

.text1 {
  padding: 0px 20px;
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  display: inline-block;
}
.text2 {
  padding: 0px 20px;
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
}
