h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 64px;
}
h2 {
  font-size: 56px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 32px;
}
h5 {
  font-size: 24px;
}
h6 {
  font-size: 18px;
}
p {
  font-size: 16px;
}
.container {
  max-width: 1528px;
  margin: 0 auto;
}

.gray_bg {
  background: var(--gray_bg);
}

.common_title {
  h6 {
    color: var(--blue);
    font-family: var(--hanken);
    font-weight: 600;
  }
  h2 {
    color: var(--dark);
    font-family: var(--jakarta);
    font-weight: 700;
    line-height: 130%;
  }
  p {
    margin-top: 45px;
    color: var(--text);
    font-family: var(--hanken);
    font-size: 18px;
    font-weight: 400;
  }
}

.slider-spacing {
  .slick-list {
    margin: 0 -12px;
  }
  .slick-slide {
    margin: 0 12px;
  }
}

.img {
  overflow: hidden;
  img {
    transition: var(--transition);
    &:hover {
      transform: scale(1.08);
    }
  }
}
