// Google Font

@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;200;300;400;500;600;700;800;900&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

// Template Font Name
:root {
  --hanken: "Hanken Grotesk", sans-serif;
  --jakarta: "Plus Jakarta Sans", sans-serif;
}

// Template Color Name
:root {
  --hanken: "Hanken Grotesk", sans-serif;
  --blue: #5e43ff;
  --dark: #050213;
  --blue-dark: #322580;
  --gray_bg: #f5f1ee;
  --white: #fff;
  --orange: #ffd172;
  --purple-shade: #f0eeff;
  --transition: all 0.3s ease-in;
}

// Social Media Color

// Transition
